@page
@model RazorPagesGeneral.Pages.Employes.EmployesModel
@{
    ViewData["Title"] = "Employes";
    ViewData["ShowButtons"] = true;
}

@if (TempData["SeccessMessage"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SeccessMessage"]
    </div>
}

<form method="get" class="mb-3">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </div>
</form>

@*@await Component.InvokeAsync("HedCount")*@
<vc:hed-count department="@null"></vc:hed-count>

<h1>Employes</h1>

<div class="row">
    @foreach (var item in Model.Employee)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <partial name="_DisplayEmployeePartial" model="item" view-data="ViewData"/>
        </div>
    }
</div>