@model IEnumerable<DeptHeadCount>

<table class="table table-hover rounded-pill">
    <thead class="thead-light">
        <tr>
            <th>Департамент</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Department</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>