@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to aour Store project.</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img src="~/images/Main.Store.jpg" class="w-80 img-fluid img-thumbnail" alt="Sore Main"/>
    </div>
</div>
